:root {
  --hwt-bg-color: #fcfcfc;
  --hwt-text-color: black;
  --hwt-active-color: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hwt-bg-color: #303030;
    --hwt-text-color: #f2f2f2;
    --hwt-active-color: #84c2ff;
  }
}
[data-user-color-scheme=dark] {
  --hwt-bg-color: #303030;
  --hwt-text-color: #f2f2f2;
  --hwt-active-color: #84c2ff;
}

#widget-tree-button {
  position: fixed;
  z-index: 1001;
  top: 46%;
  left: 0rem;
  display: flex;
  background-color: var(--hwt-bg-color);
  width: 1.5rem;
  height: 3rem;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
#widget-tree-button:hover {
  opacity: 1;
  color: var(--hwt-active-color);
}
#widget-tree-button i {
  margin-left: -2px;
}
#widget-tree-button.open {
  left: 20rem;
}

.gg-folder-add {
  background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat center center/2px 6px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px;
}

.gg-folder-add::after,
.gg-folder-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-folder-add::before {
  background: currentColor;
  left: 6px;
  width: 6px;
  height: 2px;
  top: 5px;
}

.gg-folder-add::after {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px;
}

.gg-folder-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px;
}

.gg-folder-remove::after,
.gg-folder-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
}

.gg-folder-remove::before {
  background: currentColor;
  left: 5px;
  width: 8px;
  height: 2px;
  top: 5px;
}

.gg-folder-remove::after {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px;
}

.gg-file-document {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.gg-file-document::after,
.gg-file-document::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-file-document::before {
  background: currentColor;
  box-shadow: 0 4px 0, -6px -4px 0;
  left: 0;
  width: 10px;
  height: 2px;
  top: 8px;
}

.gg-file-document::after {
  width: 6px;
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 4px;
}

.gg-file-add {
  background: linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat 2px 9px/6px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.gg-file-add::after,
.gg-file-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 6px;
}

.gg-file-add::before {
  background: currentColor;
  left: 4px;
  width: 2px;
  top: 7px;
}

.gg-file-add::after {
  width: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}

.gg-file-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.gg-file-remove::after,
.gg-file-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
}

.gg-file-remove::before {
  background: currentColor;
  left: 2px;
  height: 2px;
  top: 9px;
}

.gg-file-remove::after {
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}

#widget-tree {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: -20rem;
  bottom: 0px;
  box-sizing: border-box;
  width: 20rem;
  padding: 1rem 0.5rem;
  background-color: var(--hwt-bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  transition: all 0.2s;
}
#widget-tree.open {
  left: 0rem;
}
#widget-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}
#widget-tree a {
  color: var(--hwt-text-color);
  cursor: pointer;
}
#widget-tree a:hover {
  color: var(--hwt-active-color);
}

.toggle-post-icon,
.toggle-toc-icon {
  color: var(--hwt-text-color);
  display: inline-block;
  vertical-align: -3px;
  margin-right: 5px;
  --ggs: 0.75;
}
.toggle-post-icon:hover,
.toggle-toc-icon:hover {
  color: dodgerblue;
  cursor: pointer;
}

.post-icon {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 4px;
  --ggs: 0.75;
}

.tree-list-post-link {
  font-size: 0.9rem;
}
.tree-list-count {
  float: right;
}

.tree-list-item .tree-list-children,
.tree-list-children .tree-list-children {
  display: none;
}
.tree-list-item.open > .toggle-post-icon,
.tree-list-children.open > .toggle-post-icon {
  color: var(--hwt-active-color);
}
.tree-list-item.open > .tree-list-children,
.tree-list-children.open > .tree-list-children {
  display: block;
}

.tree-post-toc {
  display: none;
}

.tree-list-item.open > .toggle-toc-icon {
  color: var(--hwt-active-color);
}
.tree-list-item.open > .tree-post-toc {
  display: block;
}

.tree-post-toc,
.tree-post-toc-child {
  list-style-type: none;
  padding-left: 0.9rem;
  font-size: 0.85rem;
}

/* build time:Wed Jan 17 2024 10:54:59 GMT+0800 (中国标准时间)*/
body{width:100%}body:after,body:before{content:"";display:table}body:after{clear:both}a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0;vertical-align:middle}caption,td,th{text-align:left;font-weight:400;vertical-align:middle}a img{border:none}button,input{margin:0;padding:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}#container,body,html{height:100%}body{background:#eee;font:14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-text-size-adjust:100%}.outer{max-width:1220px;margin:0 auto;padding:0 20px}.outer:after,.outer:before{content:"";display:table}.outer:after{clear:both}.inner{display:inline;float:left;width:98.33333333333333%;margin:0 .833333333333333%}.alignleft,.left{float:left}.alignright,.right{float:right}.clear{clear:both}#container{position:relative}.mobile-nav-on{overflow:hidden}#wrap{height:100%;width:100%;position:absolute;top:0;left:0;-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;-ms-transition:.2s ease-out;transition:.2s ease-out;z-index:1;background:#eee}.mobile-nav-on #wrap{left:280px}@media screen and (min-width:768px){#main{display:inline;float:left;width:73.33333333333333%;margin:0 .833333333333333%}}.archive-year,.article-category-link,.article-date,.widget-title{text-decoration:none;text-transform:uppercase;letter-spacing:2px;color:#999;margin-bottom:1em;margin-left:5px;line-height:1em;text-shadow:0 1px #fff;font-weight:700}.archive-article-inner,.article-inner{background:#fff;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;border:1px solid #ddd;border-radius:3px}.article-entry h1,.widget h1{font-size:2em}.article-entry h2,.widget h2{font-size:1.5em}.article-entry h3,.widget h3{font-size:1.3em}.article-entry h4,.widget h4{font-size:1.2em}.article-entry h5,.widget h5{font-size:1em}.article-entry h6,.widget h6{font-size:1em;color:#999}.article-entry hr,.widget hr{border:1px dashed #ddd}.article-entry strong,.widget strong{font-weight:700}.article-entry cite,.article-entry em,.widget cite,.widget em{font-style:italic}.article-entry sub,.article-entry sup,.widget sub,.widget sup{font-size:.75em;line-height:0;position:relative;vertical-align:baseline}.article-entry sup,.widget sup{top:-.5em}.article-entry sub,.widget sub{bottom:-.2em}.article-entry small,.widget small{font-size:.85em}.article-entry abbr,.article-entry acronym,.widget abbr,.widget acronym{border-bottom:1px dotted}.article-entry dl,.article-entry ol,.article-entry ul,.widget dl,.widget ol,.widget ul{margin:0 20px;line-height:1.6em}.article-entry ol ol,.article-entry ol ul,.article-entry ul ol,.article-entry ul ul,.widget ol ol,.widget ol ul,.widget ul ol,.widget ul ul{margin-top:0;margin-bottom:0}.article-entry ul,.widget ul{list-style:disc}.article-entry ol,.widget ol{list-style:decimal}.article-entry dt,.widget dt{font-weight:700}#header{height:300px;position:relative;border-bottom:1px solid #ddd}#header:after,#header:before{content:"";position:absolute;left:0;right:0;height:40px}#header:before{top:0;background:-webkit-linear-gradient(rgba(0,0,0,.2),transparent);background:-moz-linear-gradient(rgba(0,0,0,.2),transparent);background:-ms-linear-gradient(rgba(0,0,0,.2),transparent);background:linear-gradient(rgba(0,0,0,.2),transparent)}#header:after{bottom:0;background:-webkit-linear-gradient(transparent,rgba(0,0,0,.2));background:-moz-linear-gradient(transparent,rgba(0,0,0,.2));background:-ms-linear-gradient(transparent,rgba(0,0,0,.2));background:linear-gradient(transparent,rgba(0,0,0,.2))}#header-outer{height:100%;position:relative}#header-inner{position:relative;overflow:hidden}#banner{position:absolute;top:0;left:0;width:100%;height:100%;background:url(images/banner.jpg) center #000;background-size:cover;z-index:-1}#header-title{text-align:center;height:40px;position:absolute;top:50%;left:0;margin-top:-20px}#logo,#subtitle{text-decoration:none;color:#fff;font-weight:300;text-shadow:0 1px 4px rgba(0,0,0,.3)}#logo{font-size:40px;line-height:40px;letter-spacing:2px}#subtitle{font-size:16px;line-height:16px;letter-spacing:1px}#subtitle-wrap{margin-top:16px}#main-nav{float:left;margin-left:-15px}.main-nav-link,.nav-icon{float:left;color:#fff;opacity:.6;text-decoration:none;text-shadow:0 1px rgba(0,0,0,.2);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;transition:opacity .2s;display:block;padding:20px 15px}.main-nav-link:hover,.nav-icon:hover{opacity:1}.nav-icon{text-align:center;font-size:14px;width:14px;height:14px;padding:20px 15px;position:relative;cursor:pointer}.main-nav-link{font-weight:300;letter-spacing:1px}@media screen and (max-width:479px){.main-nav-link{display:none}}#main-nav-toggle{display:none}@media screen and (max-width:479px){#main-nav-toggle{display:block}}#sub-nav{float:right;margin-right:-15px}#search-form-wrap{position:absolute;top:15px;width:150px;height:30px;right:-150px;opacity:0;-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;-ms-transition:.2s ease-out;transition:.2s ease-out}#search-form-wrap.on{opacity:1;right:0}@media screen and (max-width:479px){#search-form-wrap{width:100%;right:-100%}}.search-form{position:absolute;top:0;left:0;right:0;background:#fff;padding:5px 15px;border-radius:15px;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3)}.search-form-input{border:none;background:0 0;color:#555;width:100%;font:13px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;outline:0}.search-form-input::-webkit-search-cancel-button,.search-form-input::-webkit-search-results-decoration{-webkit-appearance:none}.search-form-submit{position:absolute;top:50%;right:10px;margin-top:-7px;font:13px ForkAwesome;border:none;background:0 0;color:#bbb;cursor:pointer}.search-form-submit:focus,.search-form-submit:hover{color:#777}.article{margin:50px 0}.article-inner{overflow:hidden}.article-meta:after,.article-meta:before{content:"";display:table}.article-meta:after{clear:both}.article-date{float:left}.article-category{float:left;line-height:1em;color:#ccc;text-shadow:0 1px #fff;margin-left:8px}.article-category:before{content:"\2022"}.article-category-link{margin:0 12px 1em}.article-header{padding:20px 20px 0}.article-title{text-decoration:none;font-size:2em;font-weight:700;color:#555;line-height:1.1em;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;transition:color .2s}a.article-title:hover{color:#258fb8}.article-entry{color:#555;padding:0 20px}.article-entry:after,.article-entry:before{content:"";display:table}.article-entry:after{clear:both}.article-entry p,.article-entry table{line-height:1.6em;margin:1.6em 0}.article-entry h1,.article-entry h2,.article-entry h3,.article-entry h4,.article-entry h5,.article-entry h6{font-weight:700}.article-entry h1,.article-entry h2,.article-entry h3,.article-entry h4,.article-entry h5,.article-entry h6{line-height:1.1em;margin:1.1em 0}.article-entry a{color:#258fb8;text-decoration:none}.article-entry a:hover{text-decoration:underline}.article-entry dl,.article-entry ol,.article-entry ul{margin-top:1.6em;margin-bottom:1.6em}.article-entry img,.article-entry video{max-width:100%;height:auto;display:block;margin:auto}.article-entry iframe{border:none}.article-entry table{width:100%;border-collapse:collapse;border-spacing:0}.article-entry th{font-weight:700;border-bottom:3px solid #ddd;padding-bottom:.5em}.article-entry td{border-bottom:1px solid #ddd;padding:10px 0}.article-entry blockquote{font-family:Georgia,"Times New Roman",serif;margin:1.6em 20px;text-align:center}.article-entry blockquote footer{font-size:14px;margin:1.6em 0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif}.article-entry blockquote footer cite:before{content:"—";padding:0 .5em}.article-entry .pullquote{text-align:left;width:45%;margin:0}.article-entry .pullquote.left{margin-left:.5em;margin-right:1em}.article-entry .pullquote.right{margin-right:.5em;margin-left:1em}.article-entry .caption{color:#999;display:block;font-size:.9em;margin-top:.5em;position:relative;text-align:center}.article-entry .video-container{position:relative;padding-top:56.25%;height:0;overflow:hidden}.article-entry .video-container embed,.article-entry .video-container iframe,.article-entry .video-container object{position:absolute;top:0;left:0;width:100%;height:100%;margin-top:0}.article-more-link a{display:inline-block;line-height:1em;padding:6px 15px;border-radius:15px;background:#eee;color:#999;text-shadow:0 1px #fff;text-decoration:none}.article-more-link a:hover{background:#258fb8;color:#fff;text-decoration:none;text-shadow:0 1px #1e7293}.article-footer{font-size:.85em;line-height:1.6em;border-top:1px solid #ddd;padding-top:1.6em;margin:0 20px 20px}.article-footer:after,.article-footer:before{content:"";display:table}.article-footer:after{clear:both}.article-footer a{color:#999;text-decoration:none}.article-footer a:hover{color:#555}.article-tag-list-item{float:left;margin-right:10px}.article-tag-list-link:before{content:"#"}.article-comment-link{float:right}.article-comment-link:before{padding-right:8px}.article-share-link{cursor:pointer;float:right;margin-left:20px}.article-share-link:before{padding-right:6px}#article-nav{position:relative}#article-nav:after,#article-nav:before{content:"";display:table}#article-nav:after{clear:both}@media screen and (min-width:768px){#article-nav{margin:50px 0}#article-nav:before{width:8px;height:8px;position:absolute;top:50%;left:50%;margin-top:-4px;margin-left:-4px;content:"";border-radius:50%;background:#ddd;-webkit-box-shadow:0 1px 2px #fff;box-shadow:0 1px 2px #fff}}.article-nav-link-wrap{text-decoration:none;text-shadow:0 1px #fff;color:#999;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:50px;text-align:center;display:block}.article-nav-link-wrap:hover{color:#555}@media screen and (min-width:768px){.article-nav-link-wrap{width:50%;margin-top:0}}@media screen and (min-width:768px){#article-nav-newer{float:left;text-align:right;padding-right:20px}}@media screen and (min-width:768px){#article-nav-older{float:right;text-align:left;padding-left:20px}}.article-nav-caption{text-transform:uppercase;letter-spacing:2px;color:#ddd;line-height:1em;font-weight:700}#article-nav-newer .article-nav-caption{margin-right:-2px}.article-nav-title{font-size:.85em;line-height:1.6em;margin-top:.5em}.article-share-box{position:absolute;display:none;background:#fff;-webkit-box-shadow:1px 2px 10px rgba(0,0,0,.2);box-shadow:1px 2px 10px rgba(0,0,0,.2);border-radius:3px;margin-left:-145px;overflow:hidden;z-index:1}.article-share-box.on{display:block}.article-share-input{width:100%;background:0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font:14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;padding:0 15px;color:#555;outline:0;border:1px solid #ddd;border-radius:3px 3px 0 0;height:36px;line-height:36px}.article-share-links{background:#eee}.article-share-links:after,.article-share-links:before{content:"";display:table}.article-share-links:after{clear:both}.article-share-facebook,.article-share-linkedin,.article-share-pinterest,.article-share-twitter{width:50px;height:36px;display:block;float:left;position:relative;color:#999;text-shadow:0 1px #fff}.article-share-facebook:before,.article-share-linkedin:before,.article-share-pinterest:before,.article-share-twitter:before{font-size:20px;width:20px;height:20px;position:absolute;top:50%;left:50%;margin-top:-10px;margin-left:-10px;text-align:center}.article-share-facebook:hover,.article-share-linkedin:hover,.article-share-pinterest:hover,.article-share-twitter:hover{color:#fff}.article-share-twitter:hover{background:#00aced;text-shadow:0 1px #008abe}.article-share-facebook:hover{background:#3b5998;text-shadow:0 1px #2f477a}.article-share-pinterest:hover{background:#cb2027;text-shadow:0 1px #a21a1f}.article-share-linkedin:hover{background:#0077b5;text-shadow:0 1px #005f91}.article-gallery{background:#000;position:relative}.article-gallery-photos{position:relative;overflow:hidden}.article-gallery-img{display:none;max-width:100%}.article-gallery-img:first-child{display:block}.article-gallery-img.loaded{position:absolute;display:block}.article-gallery-img img{display:block;max-width:100%;margin:0 auto}#comments{background:#fff;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;padding:20px;border:1px solid #ddd;border-radius:3px;margin:50px 0}#comments a{color:#258fb8}.archives-wrap{margin:50px 0}.archives:after,.archives:before{content:"";display:table}.archives:after{clear:both}.archive-year-wrap{margin-bottom:1em}.archives{-webkit-column-gap:10px;-moz-column-gap:10px;column-gap:10px}@media screen and (min-width:480px) and (max-width:767px){.archives{-webkit-column-count:2;-moz-column-count:2;column-count:2}}@media screen and (min-width:768px){.archives{-webkit-column-count:3;-moz-column-count:3;column-count:3}}.archive-article{-webkit-column-break-inside:avoid;page-break-inside:avoid;overflow:hidden;break-inside:avoid-column}.archive-article-inner{padding:10px;margin-bottom:15px}.archive-article-title{text-decoration:none;font-weight:700;color:#555;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;transition:color .2s;line-height:1.6em}.archive-article-title:hover{color:#258fb8}.archive-article-footer{margin-top:1em}.archive-article-date{color:#999;text-decoration:none;font-size:.85em;line-height:1em;margin-bottom:.5em;display:block}#page-nav{margin:50px auto;background:#fff;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;border:1px solid #ddd;border-radius:3px;text-align:center;color:#999;overflow:hidden}#page-nav:after,#page-nav:before{content:"";display:table}#page-nav:after{clear:both}#page-nav a,#page-nav span{padding:10px 20px;line-height:1;height:2ex}#page-nav a{color:#999;text-decoration:none}#page-nav a:hover{background:#999;color:#fff}#page-nav .prev{float:left}#page-nav .next{float:right}#page-nav .page-number{display:inline-block}@media screen and (max-width:479px){#page-nav .page-number{display:none}}#page-nav .current{color:#555;font-weight:700}#page-nav .space{color:#ddd}#footer{background:#262a30;padding:50px 0;border-top:1px solid #ddd;color:#999}#footer a{color:#258fb8;text-decoration:none}#footer a:hover{text-decoration:underline}#footer-info{line-height:1.6em;font-size:.85em}.article-entry .highlight,.article-entry pre{background:#2d2d2d;margin:0 -20px;padding:15px 20px;border-style:solid;border-color:#ddd;border-width:1px 0;overflow:auto;color:#ccc;line-height:22.400000000000002px}.article-entry .gist .gist-file .gist-data .line-numbers,.article-entry .highlight .gutter pre{color:#666;font-size:.85em}.article-entry code,.article-entry pre{font-family:"Source Code Pro",Consolas,Monaco,Menlo,Consolas,monospace}.article-entry code{background:#eee;text-shadow:0 1px #fff;padding:0 .3em}.article-entry pre code{background:0 0;text-shadow:none;padding:0}.article-entry .highlight pre{border:none;margin:0;padding:0}.article-entry .highlight table{margin:0;width:auto}.article-entry .highlight td{border:none;padding:0}.article-entry .highlight figcaption{font-size:.85em;color:#999;line-height:1em;margin-bottom:1em}.article-entry .highlight figcaption:after,.article-entry .highlight figcaption:before{content:"";display:table}.article-entry .highlight figcaption:after{clear:both}.article-entry .highlight figcaption a{float:right}.article-entry .highlight .gutter{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.article-entry .highlight .gutter pre{text-align:right;padding-right:20px}.article-entry .highlight .line{height:22.400000000000002px}.article-entry .highlight .line.marked{background:#515151}.article-entry .gist{margin:0 -20px;border-style:solid;border-color:#ddd;border-width:1px 0;background:#2d2d2d;padding:15px 20px 15px 0}.article-entry .gist .gist-file{border:none;font-family:"Source Code Pro",Consolas,Monaco,Menlo,Consolas,monospace;margin:0}.article-entry .gist .gist-file .gist-data{background:0 0;border:none}.article-entry .gist .gist-file .gist-data .line-numbers{background:0 0;border:none;padding:0 20px 0 0}.article-entry .gist .gist-file .gist-data .line-data{padding:0!important}.article-entry .gist .gist-file .highlight{margin:0;padding:0;border:none}.article-entry .gist .gist-file .gist-meta{background:#2d2d2d;color:#999;font:.85em -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;text-shadow:0 0;padding:0;margin-top:1em;margin-left:20px}.article-entry .gist .gist-file .gist-meta a{color:#258fb8;font-weight:400}.article-entry .gist .gist-file .gist-meta a:hover{text-decoration:underline}pre .comment,pre .title{color:#999}pre .attribute,pre .css .class,pre .css .id,pre .css .pseudo,pre .html .doctype,pre .regexp,pre .ruby .constant,pre .tag,pre .variable,pre .xml .doctype,pre .xml .pi,pre .xml .tag .title{color:#f2777a}pre .built_in,pre .constant,pre .literal,pre .number,pre .params,pre .preprocessor{color:#f99157}pre .class,pre .css .rules .attribute,pre .ruby .class .title{color:#9c9}pre .header,pre .inheritance,pre .ruby .symbol,pre .string,pre .value,pre .xml .cdata{color:#9c9}pre .css .hexcolor{color:#6cc}pre .coffeescript .title,pre .function,pre .javascript .title,pre .perl .sub,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword{color:#69c}pre .javascript .function,pre .keyword{color:#c9c}@media screen and (max-width:479px){#mobile-nav{position:absolute;top:0;left:0;width:280px;height:100%;background:#191919;border-right:1px solid #fff}}@media screen and (max-width:479px){.mobile-nav-link{display:block;color:#999;text-decoration:none;padding:15px 20px;font-weight:700}.mobile-nav-link:hover{color:#fff}}@media screen and (min-width:768px){#sidebar{display:inline;float:left;width:23.333333333333332%;margin:0 .833333333333333%}}.widget-wrap{margin:50px 0}.widget{color:#777;text-shadow:0 1px #fff;background:#ddd;-webkit-box-shadow:0 -1px 4px #ccc inset;box-shadow:0 -1px 4px #ccc inset;border:1px solid #ccc;padding:15px;border-radius:3px}.widget a{color:#258fb8;text-decoration:none}.widget a:hover{text-decoration:underline}.widget dl dl,.widget dl ol,.widget dl ul,.widget ol dl,.widget ol ol,.widget ol ul,.widget ul dl,.widget ul ol,.widget ul ul{margin-left:15px;list-style:disc}.widget{line-height:1.6em;word-wrap:break-word;font-size:.9em}.widget ol,.widget ul{list-style:none;margin:0}.widget ol ol,.widget ol ul,.widget ul ol,.widget ul ul{margin:0 20px}.widget ol ul,.widget ul ul{list-style:disc}.widget ol ol,.widget ul ol{list-style:decimal}.archive-list-count,.category-list-count,.tag-list-count{padding-left:5px;color:#999;font-size:.85em}.archive-list-count:before,.category-list-count:before,.tag-list-count:before{content:"("}.archive-list-count:after,.category-list-count:after,.tag-list-count:after{content:")"}.tagcloud a{margin-right:5px;display:inline-block}
/* rebuild by neat */
body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0;transition-property:transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;left:env(safe-area-inset-left);padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0;right:env(safe-area-inset-right)}.fancybox-caption{background:linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:75px 44px 25px;pointer-events:none;right:0;text-align:center;z-index:99996}@supports (padding:max(0px)){.fancybox-caption{padding:75px max(44px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(44px,env(safe-area-inset-left))}}.fancybox-caption--separate{margin-top:-50px}.fancybox-caption__body{max-height:50vh;overflow:auto;pointer-events:all}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@keyframes a{to{transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}.fancybox-caption{padding-left:12px;padding-right:12px}@supports (padding:max(0px)){.fancybox-caption{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right))}}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}